<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <title>Experiment 1 - TCIN</title>

  <link rel="stylesheet" href="https://js.arcgis.com/4.28/esri/themes/light/main.css" />
  <script src="https://js.arcgis.com/4.28/"></script>

  <style>
    html,
    body,
    #viewDiv {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }
    #logoDiv {
      padding: 12px;
      background-color: black;
      color: pink;
      text-align: center;
      width: 100px;
    }
    #droneControl {
      /* position: absolute; */
      top: 0;
      right: 0;
      height: 100%;
      background: rgba(255,255,255, 0.9);
      width: 320px;
    }
    #droneRatings {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255, 0.9);
    }
    hr {
      border: 0;
      height: 1px;
      background: #ccc; /* Lig"% static 'img/clue2.png' %"ht grey line */
      margin: 10px 0; /* Spacing above and below the line */
    }
  </style>

  <script>
    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/Graphic",
      "esri/geometry/Point",
      "esri/geometry/Polyline",
      "esri/widgets/Expand",
      "esri/widgets/Search",
      "esri/geometry/Polygon"
    ], (Map, MapView, Graphic, Point, Polyline, Expand, Search, Polygon) => {
      const map = new Map({
        basemap: "hybrid"
      });

      const view = new MapView({
        center: [-80, 35],
        container: "viewDiv",
        map: map,
        zoom: 9
      });

     // Define the symbol for drawing the points
      const markerSymbol1 = {
        type: "picture-marker",
        url: "{% static 'img/thermal-drone.png' %}",
        width: "30px",
        height: "30px"
      };

      const markerSymbol2 = {
        type: "picture-marker",
        url: "{% static 'img/sniffer-drone.png' %}",
        width: "30px",
        height: "30px"
      };

      // Create multiple point graphics - Drones
      const pointGraphics = [
        new Graphic({
          geometry: new Point({ longitude: -84.75, latitude: 35.25 }), // Quadrant 1
          symbol: markerSymbol1,
          attributes: { id: "drone1"}
        }),
        new Graphic({
          geometry: new Point({ longitude: -85.25, latitude: 35.25 }), // Quadrant 2
          symbol: markerSymbol1,
          attributes: { id: "drone2"}
        }),
        new Graphic({
          geometry: new Point({ longitude: -85.25, latitude: 34.75 }), // Quadrant 3
          symbol: markerSymbol2,
          attributes: { id: "drone3"}
        }),
        new Graphic({
          geometry: new Point({ longitude: -84.75, latitude: 34.75 }), // Quadrant 4
          symbol: markerSymbol2,
          attributes: { id: "drone4"}
        })
      ];

      //Line 1 - Xaxis
      const Xaxis = {
           type: "polyline", // autocasts as new Polyline()
           paths: [[-95, 35], [-75, 35]]
         };

      // Line 2 - Yaxis
      const Yaxis = {
           type: "polyline", // autocasts as new Polyline()
           paths: [[-85, 30], [-85, 40]]
         };

      // Symbol for drawing the lines
      const lineSymbol = {
           type: "simple-line", // autocasts as SimpleLineSymbol()
           color: [226, 119, 40],
           width: 4
         };

      // Symbol for grid lines
      const gridLineSymbol = {
             type: "simple-line",
             color: [0, 0, 0, 0.3], // Semi-transparent black
             width: "1px"
           };

      const XaxisGraphic = new Graphic({
           geometry: Xaxis,
           symbol: lineSymbol
         });

      const YaxisGraphic = new Graphic({
           geometry: Yaxis,
           symbol: lineSymbol
         });

      // Function to create a grid in a quadrant
      function createGrid(xStart, yStart, xEnd, yEnd, cellSize) {
           const gridGraphics = [];
           for (let x = xStart; x < xEnd; x += cellSize) {
             for (let y = yStart; y < yEnd; y += cellSize) {
               const cell = new Polygon({
                 rings: [
                   [
                     [x, y],
                     [x + cellSize, y],
                     [x + cellSize, y + cellSize],
                     [x, y + cellSize],
                     [x, y] // Close the polygon
                   ]
                 ]
               });

               const cellGraphic = new Graphic({
                 geometry: cell,
                 symbol: {
                   type: "simple-fill",
                   color: [0, 0, 0, 0], // Transparent fill
                   outline: gridLineSymbol
                 }
               });

               gridGraphics.push(cellGraphic);
             }
           }
           return gridGraphics;
         }

      // Create grids for each quadrant
      const gridSize = 0.5; // Size of each grid cell
      const quadrant1 = createGrid(-85, 35, -75, 40, gridSize);
      const quadrant2 = createGrid(-95, 35, -85, 40, gridSize);
      const quadrant3 = createGrid(-95, 30, -85, 35, gridSize);
      const quadrant4 = createGrid(-85, 30, -75, 35, gridSize);

      // Add the point graphics to the view's graphics layer
         view.graphics.addMany([...quadrant1, ...quadrant2, ...quadrant3, ...quadrant4, ...pointGraphics, XaxisGraphic, YaxisGraphic]);

      // //Create detection points for drones
      // const objectDetectionPoints = {
      //   drone1: [
      //     { longitude: -84.5, latitude: 35.5 },
      //     { longitude: -84.25, latitude: 39.5 }
      //   ],
      //   drone2: [
      //     { longitude: -85.5, latitude: 35.5 },
      //     { longitude: -85.75, latitude: 39.5 }
      //   ],
      //   drone3: [
      //     { longitude: -85.5, latitude: 34.5 },
      //     { longitude: -85.75, latitude: 30.5 }
      //   ],
      //   drone4: [
      //     { longitude: -84.5, latitude: 34.5 },
      //     { longitude: -84.25, latitude: 30.5 }
      //   ]
      // };

      // Define paths for each drone to follow
      const dronePaths = {
        drone1: {
          path: [
            [-84.75, 35.25], [-84.25, 35.25], [-84.25, 39.75], [-84.75, 39.75], [-84.75, 39.25], [-84.25, 39.25], [-84.25, 35.25]
          ],
          objectDetectionPoints: [
            [-84.25, 35.25], [-84.25, 39.5]
          ]
        },
        drone2: {
          path: [
            [-85.25, 35.25], [-85.75, 35.25], [-85.75, 39.75], [-85.25, 39.75], [-85.25, 39.25], [-85.75, 39.25], [-85.75, 35.25]
          ],
          objectDetectionPoints: [
            [-84.5, 35.5], [-84.25, 39.5]
          ]
        },
        drone3: {
          path: [
            [-85.25, 34.75], [-85.75, 34.75], [-85.75, 30.25], [-85.25, 30.25], [-85.25, 30.75], [-85.75, 30.75], [-85.75, 34.75]
          ],
          objectDetectionPoints: [
            [-84.5, 35.5], [-84.25, 39.5]
          ]
        },
        drone4: {
          path: [
            [-84.75, 34.75], [-84.25, 34.75], [-84.25, 30.25], [-84.75, 30.25], [-84.75, 30.75], [-84.25, 30.75], [-84.25, 34.75]
          ],
          objectDetectionPoints: [
            [-84.5, 35.5], [-84.25, 39.5]
          ]
        },
      };

      //Detected object
      // const clueImage = {
      //   type: "picture-marker",
      //   url: "{% static 'img/clue2.png' %}",
      //   width: "30px",
      //   height: "30px"
      // };

      // Define the URL for the image
      var clueImageUrl = "{% static 'img/clue2.png' %}";

      // Function to move drones along their paths
      function moveDrone(drone, dronePath) {
        const currentLocationIndex = dronePath.path.findIndex(point =>
          point[0] === drone.geometry.longitude && point[1] === drone.geometry.latitude
        );
        const nextLocationIndex = (currentLocationIndex + 1) % dronePath.path.length;
        const nextPoint = dronePath.path[nextLocationIndex];
        drone.geometry = new Point({
          longitude: nextPoint[0],
          latitude: nextPoint[1]
        });

        // Check if the drone's current position matches any object detection points
        const detected = dronePath.objectDetectionPoints.some(point =>
          point[0] === nextPoint[0] && point[1] === nextPoint[1]
        );
        if (detected) {
          // If an object is detected, display the pop-up with the image of the detected object
          // Pass actual URL of the image you want to show object
          showObjectDetectedPopup("Object detected at " + nextPoint.join(", "), drone.attributes.id, clueImageUrl);


          // Update the "Current drone:" field in the "drone control" UI
          updateDroneControlUI(drone.attributes.id);
        }
      }

      // Function to update the "drone control" UI
      function updateDroneControlUI(droneName) {
        // Select the paragraph element for the "Current drone:" field
        const currentDroneElement = document.querySelector('#current-drone'); //To update name of detecting drone
        // Update its text content with the name of the drone
        currentDroneElement.textContent = `Current drone: ${droneName}`;
      }

      //Function for pop-up of object detected
     function showObjectDetectedPopup(message, droneName, imageUrl) {
       const popup = document.createElement("div");
       const image = document.createElement("img");
       image.src = imageUrl;
       image.alt = "Detected Object";
       image.style.width = "100px"; // Set the width of the image
       image.style.height = "100px"; // Set the height of the image
       image.style.display = "block"; // Display the image as a block element
       image.style.marginBottom = "10px"; // Margin below the image

       const textNode = document.createTextNode(droneName + ": " + message);
       popup.appendChild(image); // Append the image to the popup
       popup.appendChild(textNode); // Append the text message to the popup
       popup.style.position = "absolute";
       popup.style.left = "50%";
       popup.style.top = "50%";
       popup.style.transform = "translate(-50%, -50%)";
       popup.style.backgroundColor = "white";
       popup.style.padding = "10px";
       popup.style.border = "1px solid black";
       popup.style.zIndex = "1000"; // Ensure the popup is above other elements
       document.body.appendChild(popup);

       // Automatically close the popup after 5 seconds
       setTimeout(() => {
         document.body.removeChild(popup);
       }, 5000);
     }

      // //Start-stop search
      // const startButton = document.getElementById('startsearchbutton');
      // const stopButton = document.getElementById('stopsearchbutton');

         // Animation function to update point positions
      let animationFrameId;
      let isAnimating = false;

      function animate() {
        if (!isAnimating) {
          return;
        }

        pointGraphics.forEach(graphic => {
          const droneId = graphic.attributes.id;
          const dronePath = dronePaths[droneId];
          if (dronePath) {
            moveDrone(graphic, dronePath);
          } else {
            console.warn(`No path found for drone with id: ${droneId}`);
          }
        });

    // Refresh the graphics on the view
     view.graphics.removeAll();
     view.graphics.addMany([...quadrant1, ...quadrant2, ...quadrant3, ...quadrant4, ...pointGraphics, XaxisGraphic, YaxisGraphic]);

     // Request the next frame in the animation with a delay
     setTimeout(() => {
       animationFrameId = requestAnimationFrame(animate);
     }, 0.35 * 1000); // Delay in milliseconds (0.35 seconds per movement)
   }

         // // Start the animation
         // requestAnimationFrame(animate);

          //  // Stop the animation when the view is destroyed
          // view.on("destroy", () => {
          //    if (animationFrameId) {
          //      cancelAnimationFrame(animationFrameId);
          //    }
          //  });

      // Event listener for the Start Search button
      document.getElementById('startsearchbutton').addEventListener('click', function() {
        isAnimating = true;
        cancelAnimationFrame(animationFrameId);
        animate();
      });

      // Event listener for the Stop Search button
      document.getElementById('stopsearchbutton').addEventListener('click', function() {
        isAnimating = false;
      });

    //Search funtion
     const search = new Search({
             view: view
           });

           // places the logo div in the bottom right corner of the view
     view.ui.add("logoDiv", "bottom-right");
           // places the search widget in the top right corner of the view
     view.ui.add(search, "top-right");
           // places the drone-control widget in the top right corner of the view
     view.ui.add("droneControl", "top-right");
           // places the drone-control widget in the bottom of the view
     view.ui.add("droneRatings", "bottom-left");
         });

  </script>

</head>

<body>
       <div id="viewDiv"></div>
       <div id="logoDiv" class="esri-widget">SCEL/VT</div>
       <div id="droneControl" class="droneControl-container">
         <h2 class="main-heading">Drone control and Object detection</h2>
           <hr>

         <!-- <div>
           <h4 class="current-drone">Current drone: </h3>
           <h4 class="foliage-density">Foligage density: </h3>
             <hr> -->
           <h3 class="drone-motion">Drone Control Tools</h3>
           <!-- <div> -->
             <!-- <label >Load a scene: </label>
             <select id="sel_ic">
               <option value="0">Scene 1</option>
               <option value="1">Scene 2</option>
               <option value="2">Scene 3</option>
             </select>
             <input type="button" id="label_ic" value="Load" style="display:none"/>
           </div> -->

           <div>
             <label >Object Search: </label>
             <input type="button" class="start-button" value="Start Search" id="startsearchbutton">
             <input type="button" class="stop-button" value="Stop Search" id="stopsearchbutton">
           </div>
          <hr>

           <!--div><input type="checkbox" name="voronoi" class="check" value="random"> Random Voronoi</input></div-->
           <!--div><input type="checkbox" name="voronoi" class="check" value="triangle"> Triangle based on vertices</input></div-->
           <!--div><input type="checkbox" name="voronoi" class="check" value="clear"> Freehand Polygon</input></div-->


           <!-- <hr> -->
           <div>
           <h3 class="detection-info">Object detection</h3>
             <p id="current-drone">Current drone:</p>
             <p>Foliage density:</p>
             <p>Object detected:</p>
           </div>
           <div>
             <label >Accept recommendation:</label>
             <input type="button" class="yes-button" value="Yes" id="btneditcells" />
             <input type="button" class="no-button" value="No" id="btneditcells" />
           </div>

           <!-- <div>
             <input type="text" class="bt_save_edit" id="tasknotes" value="Task_name"/>
             <input type="button" class="bt_save" value="Save Task" id="savetasks"/>
           </div> -->

           <div>
             <label >Re-categorize object: </label>
             <select id="sel_lpm">
               <option value="living target">Living target</option>
               <option value="non-living target">Non-living target</option>
               <option value="living distractor" selected>Living distractor</option>
               <option value="non-living distractor" selected>Non-living distractor</option>

             </select>
             <input type="button" id="label_lpt" value="Switch" style="display:none"/>
           </div>
             <hr>

             <div>
             <h3 class="detection-info">Task assignment</h3>
               <p>Current drone:</p>
             </div>
             <div>
               <label >Re-assign task:</label>
               <input type="button" class="yes-button" value="Yes" id="btneditcells" />
               <input type="button" class="no-button" value="No" id="btneditcells" />
             </div>
             <div>
               <label >Re-assign task to: </label>
               <select id="sel_lpm">
                 <option value="drone 1">Drone 1</option>
                 <option value="drone 2">Drone 2</option>
                 <option value="drone 3" selected>Drone 3</option>
                 <option value="drone 4" selected>Drone 4</option>

               </select>
               <input type="button" id="label_lpt" value="Switch" style="display:none"/>
             </div>

       <div id="droneRatings" class="droneRatings-container">
         <h2 class="list-heading">Drone competence and trust ratings</h2>
         <div>
         <hr>
         <label> Drone 1: </label>
               <label for="myRange" id="lmyRange">Competence(1-5): </label>
               <input type="range" min="1" max="5" value="0" class="slider" id="myRange">
               <label for="myClues" id="lmyClue">Trust(1-5): </label>
               <input type="range" min="1" max="5" value="0" class="slider" id="myClues">
         </div>
         <hr>
         <div>
         <label> Drone 2: </label>
               <label for="myRange" id="lmyRange">Competence(1-5): </label>
               <input type="range" min="1" max="5" value="0" class="slider" id="myRange">
               <label for="myClues" id="lmyClue">Trust(1-5): </label>
               <input type="range" min="1" max="5" value="0" class="slider" id="myClues">
         </div>
         <hr>
         <div>
         <label> Drone 3: </label>
               <label for="myRange" id="lmyRange">Competence(1-5): </label>
               <input type="range" min="1" max="5" value="0" class="slider" id="myRange">
               <label for="myClues" id="lmyClue">Trust(1-5): </label>
               <input type="range" min="1" max="5" value="0" class="slider" id="myClues">
         </div>
         <hr>
         <div>
         <label> Drone 4: </label>
               <label for="myRange" id="lmyRange">Competence(1-5): </label>
               <input type="range" min="1" max="5" value="0" class="slider" id="myRange">
               <label for="myClues" id="lmyClue">Trust(1-5): </label>
               <input type="range" min="1" max="5" value="0" class="slider" id="myClues">
         </div>
       </div>

</body>
</html>
